<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking External Files -->
<link rel="icon" type="image/svg+xml" href="./images/favicon.png" >
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Linking CSS Files -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/nav-bar.css">
    <link rel="stylesheet" href="/stylesheets/admin-dash.css">

    <!-- Linking Java Script Files -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/nav-bar.js" defer></script>
    <script src="/javascripts/admin-dash.js" defer></script>
    <script src="/javascripts/index.js" defer></script>

    <title>Admin Dashboard</title>
</head>

<body class="dark primary-bg-color" style="display: none">
    <nav class="primary-bg-color-nav-bar" id="nav-bar">
        <div class="logo-nav-bar secondary-bg-color-nav-bar">
            <div class="primary-bg-color-nav-bar"><a class="secondary-color-nav-bar">CINEMATCH</a></div>
        </div>

        <div class="nav secondary-bg-color-nav-bar">
            <a class="primary-color-nav-bar" href="/home">HOME</a>
            <a class="primary-color-nav-bar" href="/personalise">PERSONALISE</a>
            <a class="primary-color-nav-bar" href="/mylists">MY LISTS</a>
            <a class="primary-color-nav-bar" href="/aboutus">ABOUT US</a>
        </div>

        <div class="login-nav-bar secondary-bg-color-nav-bar">
            <div class="primary-bg-color-nav-bar" id="profile">
                <!-- if not login -->
                <a v-if="!isLogin && !inProcess" href="/login" class="primary-color-nav-bar secondary-bg-color-nav-bar">SIGN IN/UP</a>

                <!-- else -->
                <div v-if="isLogin && !inProcess" class="user-container-nav-bar">
                    <div>Welcome, <strong>{{ initials }}</strong>!</div>
                    <img :src="profilePic" alt="User avatar" @click="onMenu">
                </div>

                <div v-show="showMenu" class="user-menu">
                    <div @click="redirect('/settings')">
                        <img :src="isDark ? './images/dark-mode-sett-icon.png' : './images/light-mode-sett-icon.png'"
                            src="./images/dark-mode-sett-icon.png" alt="settings icon">
                        Account Settings
                    </div>
                    <div @click="changeDark()">
                        <img :src="isDark ? 'images/dark-on-icon.png' : 'images/dark-off-icon.png'"
                            src="./images/dark-on-icon.png" alt="theme off icon">
                        <span class="theme">Dark Theme</span>
                    </div>
                    <div @click="redirect('/logout')">
                        <img src="images/logout-icon.png" alt="logout icon">
                        <span class="logout-nav-bar">Log out</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main id="admin-dash">
        <!--display admin name-->
        <h1>Admin Dashboard</h1>

        <!--show site stats-->
        <div class="stats">
            <div class="stat-card">
                <div class="stat-icon">
                    <img src="images/users-reg.svg" alt="User icon">
                    <div class="stat-num dark">{{ totalUsers }}</div>
                </div>
                <p>total users<br>registered</p>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <img src="images/timeline.svg" alt="Timeline icon">
                    <div class="stat-num">{{ totalActive }}</div>
                </div>
                <p>active users in<br>last 24 hours</p>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <img src="images/movies-saved.svg" alt="Movie icon">
                    <div class="stat-num dark">{{ totalContent }}</div>
                </div>
                <p>total movies<br>stored</p>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <img src="images/site-views.svg" alt="Movie icon">
                    <div class="stat-num">{{ totalVisits }}</div>
                </div>
                <p>total visits to<br>the site</p>
            </div>
        </div>

        <!--user table section-->
        <div class="user-section">

            <div class="header-row">
                <!--table title-->
                <h2>User list</h2>

                <!--table controls-->
                <div class="controls-row">
                    <!--select button-->
                    <button type="button" class="control" @click="toggleSelect" :class="{ active: isSelectOn }">
                        {{ isSelectOn ? 'Cancel' : 'Select users' }}</button>

                    <!--filters button-->
                    <div class="dropdown">
                        <button type="button" class="control filter" @click="showFilters=!showFilters">Add filter</button>
                        <div v-show="showFilters" class="dd-menu" @click.stop>
                            <div class="dd-option" :class="{ selected: filter.roles.includes('user') }"
                            @click="toggleRole('user')">Users only</div>
                            <div class="dd-option" :class="{ selected: filter.roles.includes('admin') }"
                            @click="toggleRole('admin')">Admins only</div>
                        </div>
                    </div>

                    <!--sort button-->
                    <div class="dropdown">
                        <button type="button" class="control sort" @click="showSort = !showSort">
                            Sort by <span class="dd-arrow" :class="{open: showSort}">▼</span>
                        </button>
                        <div v-show="showSort" class="dd-menu" @click.stop>
                            <div class="dd-option" :class="{ selected: sort === 'user_name' }"
                            @click="sort = 'user_name'; showSort = false">Username</div>
                            <div class="dd-option" :class="{ selected: sort === 'first_name' }"
                            @click="sort = 'first_name'; showSort = false">First Name</div>
                            <div class="dd-option" :class="{ selected: sort === 'last_name' }"
                            @click="sort = 'last_name'; showSort = false">Last Name</div>
                            <div class="dd-option" :class="{ selected: sort === 'registration_date' }"
                            @click="sort = 'registration_date'; showSort = false">Date Joined</div>
                            <div class="dd-option" :class="{ selected: sort === 'last_login' }"
                            @click="sort = 'last_login'; showSort = false">Last Active</div>
                        </div>
                    </div>

                    <!--search button-->
                    <input class="control search" type="text" placeholder="Search user..." v-model="search">

                    <!--add new user button-->
                    <button type="button" class="control" @click="showAddUser=true">Add new</button>
                </div>
            </div>

            <!-- new user card -->
            <div v-show="showAddUser" class="card-overlay">
                <div class="card">
                    <h3>Add New User</h3>

                    <!-- <div class="av-preview">
                        <img v-if="newUser.profile_picture_url" :src="newUser.profile_picture_url" alt="Avatar">
                        <img v-else src="./images/settings/dummy-upload.svg" alt="Empty Avatar">
                    </div> -->

                    <div class="form">
                        <label for="new-username">Username:</label>
                        <input type="text" id="new-username" v-model="newUser.user_name">
                    </div>

                    <div class="form">
                        <label for="new-firstname">First Name:</label>
                        <input type="text" id="new-firstname" v-model="newUser.first_name">
                    </div>

                    <div class="form">
                        <label for="new-lastname">Last Name:</label>
                        <input type="text" id="new-lastname" v-model="newUser.last_name">
                    </div>

                    <div class="form">
                        <label for="new-pass">Password:</label>
                        <div class="pass-info">
                            <input :type="showPass ? 'text' : 'password'" id="new-pass" v-model="newUser.password">
                            <button type="button" @click="showPass = !showPass" :class="showPass ? 'hide-icon' : 'show-icon'"></button>
                            <button type="button" class="info-icon"></button>
                            <div class="tooltip">Password must be 8-16 characters, including a number, an UPPERCASE + a lowercase letter, and a special character.</div>
                        </div>
                        <p class="error-message" v-if="passError">{{ passError }}</p>
                    </div>

                    <div class="form">
                        <label for="new-role">Role:</label>
                        <select id="new-role" v-model="newUser.role">
                            <option value="user">User</option>
                            <option value="admin">Administrator</option>
                        </select>
                    </div>

                    <!-- <div class="form">
                        <label>Avatar:</label>
                        <div class="av-options">
                            <input type="file" @change="imageUpload"><span>or</span>
                            <select @change="selectAv($event.target.value)">
                                <option value="">Select avatar</option>
                                <option value="avatar1">Avatar 1</option>
                                <option value="avatar2">Avatar 2</option>
                                <option value="avatar3">Avatar 3</option>
                                <option value="avatar4">Avatar 4</option>
                                <option value="avatar5">Avatar 5</option>
                            </select>
                        </div>
                        <p class="error-message" v-if="uploadError">{{ uploadError }}</p>
                    </div> -->

                    <div class="card-controls">
                        <button type="button" class="control" @click="resetForm()">Cancel</button>
                        <button type="button" class="control" @click="addUser">Confirm</button>
                    </div>
                </div>
            </div>

            <!-- edit user-->
            <div v-show="showEditUser" class="card-overlay">
                <div class="card">
                    <h3>Edit User</h3>

                    <div class="av-preview">
                        <img v-if="editingUser.pfpPreview" :src="editingUser.pfpPreview" alt="Avatar">
                        <img v-else src="./images/settings/dummy-upload.svg" alt="Empty Avatar">
                    </div>

                    <div class="form">
                        <label for="edit-username">Username:</label>
                        <input type="text" id="edit-username" v-model="editingUser.user_name">
                    </div>

                    <div class="form">
                        <label for="edit-firstname">First Name:</label>
                        <input type="text" id="edit-firstname" v-model="editingUser.first_name">
                    </div>

                    <div class="form">
                        <label for="edit-lastname">Last Name:</label>
                        <input type="text" id="edit-lastname" v-model="editingUser.last_name">
                    </div>

                    <div class="form">
                        <label for="edit-role">Role:</label>
                        <select id="edit-role" v-model="editingUser.role">
                            <option value="user" >User</option>
                            <option value="admin" >Administrator</option>
                        </select>
                    </div>

                    <div class="form">
                        <label>Avatar:</label>
                        <div class="av-options">
                            <input type="file" @change="imageUpload($event, true)">
                            <span>or</span>
                            <select @change="selectAv($event.target.value, true)">
                                <option value="">Select avatar</option>
                                <option value="avatar1">Avatar 1</option>
                                <option value="avatar2">Avatar 2</option>
                                <option value="avatar3">Avatar 3 (default)</option>
                                <option value="avatar4">Avatar 4</option>
                                <option value="avatar5">Avatar 5</option>
                            </select>
                        </div>
                        <p class="error-message" v-if="uploadError">{{ uploadError }}</p>
                    </div>

                    <div class="card-controls">
                        <button type="button" class="control" @click="showEditUser = false">Cancel</button>
                        <button type="button" class="control" @click="saveEdits">Save Changes</button>
                    </div>
                </div>
            </div>

            <!--table contents-->
            <table class="user-table">
                <thead>
                    <!--header row-->
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Date joined</th>
                        <th>Role</th>
                        <th>Last Active</th>
                        <th>Profile picture</th>
                    </tr>
                </thead>
                <tbody>
                    <!--empty row for spacing-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <!--user info-->
                    <tr v-for="user in users" :key="user.user_name">
                        <td>
                            <div class="checkbox-col">
                                <input v-if="isSelectOn" type="checkbox"
                                  :checked="selectedUsers.includes(user.user_id)" @change="SelectUser(user.user_id)">
                                <span class="username" @click="editUser(user)">{{ user.user_name }}</span>
                            </div>
                        </td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ new Date(user.registration_date).toLocaleDateString('en-GB') }}</td>
                        <td><span :class="['role-pill', user.role === 'admin' ? 'admin' : 'user']">
                            <span class="circle"></span> {{ user.role === 'admin' ? 'Administrator' : 'User' }}</span></td>
                        <td>{{ new Date(user.last_login).toLocaleString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false }) }}</td>
                        <td><a class="fancy-link" :href="user.profile_picture_url" target="_blank" href="">{{ helperProfilePicture(user.profile_picture_url) }}</a></td>
                    </tr>
                </tbody>
            </table>

            <!--footer actions-->
            <div class="table-footer">

                <!--page load limit button-->
                <div class="load-limit-dd">
                    <div class="dropdown">
                        <button type="button" class="control load" @click="showLoadLimit = !showLoadLimit">
                            Load limit = {{ loadLimit }} <span class="dd-arrow" :class="{open: showLoadLimit}">▼</span>
                        </button>
                        <div v-show="showLoadLimit" class="dd-menu" @click.stop>
                            <div class="dd-option" v-for="limit in [10, 25, 50, 100]" :key="limit"
                              @click="loadLimit=limit; showLoadLimit=false">Load limit = {{limit}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-controls">
                    <!--delete selected button-->
                    <button type="button" class="control" v-show="isSelectOn"
                      :disabled="selectedUsers.length === 0">Delete Selected</button>

                    <!--switch page buttons-->
                    <button type="button" class="control" :disabled="currentPage === 1" @click="currentPage--">←</button>

                    <button type="button" class="control" v-for="page in visiblePages" :key="page"
                        :class="{ active: page === currentPage }" @click="currentPage = page"
                        :disabled="typeof page === 'string'">{{ page }}</button>

                    <button type="button" class="control" :disabled="currentPage === totalPages" @click="currentPage++">→</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
