<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking External Files -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Linking CSS Files -->
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/nav-bar.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/homepage.css">

    <!-- Linking Java Script Files -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="javascripts/nav-bar.js" defer></script>
    <script src="javascripts/homepage.js" defer></script>
    <script src="javascripts/index.js" defer></script>

    <title>Home Page</title>
</head>

<body class="dark primary-bg-color" style="display: none">
    <nav class="primary-bg-color-nav-bar" id="nav-bar">
        <div class="logo-nav-bar secondary-bg-color-nav-bar">
            <div class="primary-bg-color-nav-bar"><a class="secondary-color-nav-bar">CINEMATCH</a></div>
        </div>

        <div class="nav secondary-bg-color-nav-bar">
            <a class="primary-color-nav-bar underline-nav-bar" href="/home">HOME</a>
            <a class="primary-color-nav-bar" href="/personalise">PERSONALISE</a>
            <a class="primary-color-nav-bar" href="/mylists">MY LISTS</a>
            <a class="primary-color-nav-bar" href="/aboutus">ABOUT US</a>
        </div>

        <div class="login-nav-bar secondary-bg-color-nav-bar">
            <div class="primary-bg-color-nav-bar" id="profile">
                <!-- if not login -->
                <a v-if="!isLogin" href="/home" class="primary-color-nav-bar secondary-bg-color-nav-bar">SIGN IN/UP</a>

                <!-- else -->
                <div v-else class="user-container-nav-bar">
                    <div>Welcome, <strong>J.K</strong>!</div>
                    <img src="images/profile-pic.jpg" alt="User avatar" @click="onMenu">
                </div>

                <div v-show="showMenu" class="user-menu">
                    <div @click="redirect('/setting')">
                        <img :src="isDark ? './images/dark-mode-sett-icon.png' : './images/light-mode-sett-icon.png'"
                            src="./images/dark-mode-sett-icon.png" alt="settings icon">
                        Account Settings
                    </div>
                    <div @click="changeDark()">
                        <img :src="isDark ? 'images/dark-on-icon.png' : 'images/dark-off-icon.png'"
                            src="./images/dark-on-icon.png" alt="theme off icon">
                        <span class="theme">Dark Theme</span>
                    </div>
                    <div @click="redirect('/logout')">
                        <img src="images/logout-icon.png" alt="logout icon">
                        <span class="logout-nav-bar">Log out</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main id="homepage">
        <section class="poster-personalise-page">
            <div class="banner">
                <div class="bg-blur"></div>
                <div class="text-content">
                    <h1>
                        Personalise your<br>
                        <span class="highlight-images">
                            WATCHING
                        </span><br>
                        experience today
                    </h1>
                    <a href="#personalise" class="start-button">Start now</a>
                </div>
            </div>
        </section>

        <section class="middle-section">
            <span class="heading1">OR</span>
            <br>
            <span class="heading2">Browse through our collection of movies & TV shows</span>
            <span class="heading3">(Click on the thumbnails to see more details)</span>
        </section>

        <section class="heading-div">
            <span class="heading1">TRENDING</span>

            <label class="switch">
                <input type="checkbox" v-model="isTVShows">
                <span class="slider"><span>Movies</span><span>TV Shows</span></span>
            </label>

            <div class="search-container" tabindex="0" @focusout="focusOut()">
                <div class="search-container-div">
                    <img src="./images/homepage-search-icon.png" alt="Search Icon">
                </div>

                <div class="search-container-div">
                    <input type="text" id="searchInput" autocomplete="off" @input="searchMovies($event.target.value)"
                        autofocus placeholder="Search here..." />
                </div>

                <div class="search-results" v-show="showSearchResult">
                    <div v-for="sr in searchResults" @click="redirect(sr.id)">{{sr.title}}</div>
                </div>
            </div>
        </section>

        <!-- Trending -->
        <div class="boxes" id="trending">
            <button type="button" @click="trendingSi = mod(this.trendingSi - 1, this.trending.length)"></button>
            <div v-for="t in loadTrending" @click="redirect(t.id)">
                <img :src="`https://image.tmdb.org/t/p/w500/${t.poster_path}`" :alt="t.title">
                <span>{{t.title}}</span>
            </div>
            <button type="button" @click="trendingSi = mod(this.trendingSi + 1, this.trending.length)"></button>
        </div>

        <!-- Top Rated -->
        <div class="heading1 heading-div">TOP RATED</div>
        <div class="boxes" id="top-rated">
            <button type="button" @click="topRatedSi = mod(this.topRatedSi - 1, this.topRated.length)"></button>
            <div v-for="t in loadTopRated" @click="redirect(t.id)">
                <img :src="`https://image.tmdb.org/t/p/w500/${t.poster_path}`" :alt="t.title">
                <span>{{t.title}}</span>
            </div>
            <button type="button" @click="topRatedSi = mod(this.topRatedSi + 1, this.topRated.length)"></button>
        </div>

        <!-- Now Playing in Cinemas -->
        <div class="heading1 heading-div">NOW PLAYING IN CINEMAS</div>
        <div class="boxes" id="now-pic">
            <button type="button" @click="nowPlayingSi = mod(this.nowPlayingSi - 1, this.nowPlaying.length)"></button>
            <div v-for="t in loadNowPlaying" @click="redirect(t.id)">
                <img :src="`https://image.tmdb.org/t/p/w500/${t.poster_path}`" :alt="t.title">
                <span>{{t.title}}</span>
            </div>
            <button type="button" @click="nowPlayingSi = mod(this.nowPlayingSi + 1, this.nowPlaying.length)"></button>
        </div>
    </main>

    <footer class="footer">
        <!-- Floating Content on top of background -->
        <div class="footer-floating-content">
            <div>
                <p>Scrolled too far?</p>
                <p>Jump back to the top</p>
            </div>

            <div class="footer-button-padding">
                <a href="#nav" class="footer-back-to-top" aria-label="Back to top">
                    <svg class="footer-arrow-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10" />
                        <polyline points="12 8 12 16" />
                        <polyline points="8 12 12 8 16 12" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Footer base content -->
        <div class="footer-content">
            © Cinematch 2025
        </div>

        <img class="wave" src="./images/footer-curve.svg" alt="" />
    </footer>

</body>

</html>
