<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking External Files -->
    <link rel="icon" type="image/svg+xml" href="./images/favicon.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Linking CSS Files -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/nav-bar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">

    <!-- Linking Java Script Files -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/nav-bar.js" defer></script>
    <script src="/javascripts/index.js" defer></script>
    <script src="/javascripts/signup.js" defer></script>

    <title>Sign Up</title>
</head>

<body class="primary-bg-color" style="display: none">
    <!--go to not logged in home-->
    <div class="logo-home">
        <a href="/home">CINEMATCH</a>
    </div>
    <main class="primary-bg-color-signup" id="signup-page">
        <div class="signup-img"></div>

        <!--sign up title-->
        <div class="content">
            <span>Ready to join in?</span>

            <div class="input">
                <div>
                    <!--input for first name-->
                    <div class="input-div">
                        <span>First Name</span>
                        <input type="text" v-model="firstName" @keyup.enter="signup">
                    </div>

                    <!--input for last name-->
                    <div class="input-div">
                        <span>Last Name</span>
                        <input type="text" v-model="lastName" @keyup.enter="signup">
                    </div>
                </div>

                <div>
                    <!--input for username-->
                    <div class="input-div">
                        <span>Username</span>
                        <input type="text" v-model="email" @keyup.enter="signup">
                    </div>

                    <!--input for password-->
                    <div class="input-div">
                        <span>Create Password</span>
                        <div class="pass-info">
                            <input type="text" v-model="password" @keyup.enter="signup">
                            <!--pass requirements show up on hover-->
                            <button type="button" class="info-icon"></button>
                            <div class="tooltip">Password must be 8-16 characters, including a number, an UPPERCASE
                                + a lowercase
                                letter, and a special character.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--sign up button-->
            <div class="signup-button">
                <!--if sign up fails show error message-->
                <span v-show="signupFailed" id="fail-signup">{{ message }}</span>
                <button type="submit" @click="signup()" :disabled="!isSignupValid">Sign up</button>
                <!--path to login to redirect to login-->
                <span>Have an account already? <a href="/login">Login here</a></span>
            </div>
        </div>
    </main>

</body>

</html>
