:root {
    --card-width: 20rem;
    --card-height: 27rem;
    --card-radius: 1.5rem;
    --card-gap: 1rem;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 3rem;
}

.about-us-heading {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
    font-style: bold;
}

.cards-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    border-radius: var(--card-radius);
    background-color: #ffffff;
    align-items: center;
    overflow: hidden;
    width: var(--card-width);
    height: var(--card-height);
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.creator-img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--card-radius);
}

.card-frontside, .card-backside {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--card-radius);
    backface-visibility: hidden;
}

.card-backside {
    transform: rotateY(180deg);
    padding: 1.5rem;
}

.card.flipped .card-frontside {
    transform: rotateY(180deg);
}

.card.flipped .card-backside {
    transform: rotateY(0deg);
}
.backside-content {
    transform: rotateY(180deg);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: "Cantarell";
    padding-left: 2rem;
}

.card:nth-child(1) {
    transform: translateX(25rem) translateY(0) rotate(-15deg);
    background-color: #cd6948;
    z-index: 1;
}

.card:nth-child(2) {
    transform: translateX(8rem) translateY(-0.5rem) rotate(-5deg);
    background-color: #BE9847;
    z-index: 2;
}

.card:nth-child(3) {
    transform: translateX(-8rem) translateY(0) rotate(5deg);
    background-color: #6B5B9E;
    z-index: 3;
}

.card:nth-child(4) {
    transform: translateX(-24rem) translateY(0.5rem) rotate(15deg);
    background-color: #C0474B;
    z-index: 4;
}

.card:hover {
    z-index: 6;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.card.flipped {
    z-index: 5;
}

.card:nth-child(1):hover {
    transform: translateX(25rem) rotate(-7.5deg);
}

.card:nth-child(2):hover {
    transform: translateX(8rem) rotate(-2.5deg);
}

.card:nth-child(3):hover {
    transform: translateX(-8rem) rotate(2.5deg);
}

.card:nth-child(4):hover {
    transform: translateX(-24rem) rotate(7.5deg);
}

.card:nth-child(1).flipped {
    transform: translateX(25rem) rotate(-7.5deg) rotateY(180deg);
}

.card:nth-child(2).flipped {
    transform: translateX(8rem) rotate(-2.5deg) rotateY(180deg);
}

.card:nth-child(3).flipped {
    transform: translateX(-8rem) rotate(2.5deg) rotateY(180deg);
}

.card:nth-child(4).flipped {
    transform: translateX(-24rem) rotate(7.5deg) rotateY(180deg);
}
