.light {
    --primary-color-homepage: white;
    --secondary-color-homepage: #3A3A3A;
    --box-shadow-homepage: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
    --border-homepage: #000000
}

.dark {
    --primary-color-homepage: #3A3A3A;
    --secondary-color-homepage: white;
    --box-shadow-homepage: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.4);
    --border-homepage: #ffffff
}

.primary-bg-color-homepage {
    background-color: var(--primary-color-homepage);
}

.primary-color-homepage {
    color: var(--primary-color-homepage);
}

.secondary-bg-color-homepage {
    background-color: var(--secondary-color-homepage);
}

.secondary-color-homepage {
    color: var(--secondary-color-homepage);
}

main {
    margin: 4rem 4rem 20rem 4rem;
    padding: 0rem 2rem 0rem 2rem;
}

main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main .heading1 {
    font-weight: 800;
    font-size: 5rem;
    color: var(--secondary-color-homepage);
}

main .heading2 {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--secondary-color-homepage);
}

main .heading3 {
    font-weight: 200;
    font-size: 1.6rem;
    color: var(--secondary-color-homepage);
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.heading-div {
    display: flex;
    justify-content: space-between;
    margin: 0rem 2rem 0rem 2rem;
}

/* Search Bar */
.search-container {
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
    border-width: 0.1rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: #F0F0F0;
    width: 20rem;

}

.search-container-div input {
    border-style: none;
    background-color: transparent;
    width: 100%;
    font-size: medium;
    outline: none;
}

.search-container-div {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.search-container-div img {
    cursor: pointer;
    height: 100%;
    align-self: center;
}

.search-results {
    position: absolute;
    width: 19rem;
    background-color: var(--user-menu-color);
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem var(--box-shadow-nav-bar);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:first baseline;
    margin-top: 4rem;
    border: 0.1rem solid var(--border-homepage);
}

.search-results>div {
    display: flex;
    justify-content: left;
    color: var(--user-menu-text-color-nav-bar);
    font-family: "Cantarell";
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: scroll;
}

.search-results>div:hover {
    color: #8d8d8d;
    cursor: pointer;
}

/* Search Bar ends */

/* Boxes CSS */
.boxes {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 27rem;

    border: 1rem solid;
    border-radius: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxes div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    height: 100%;
    width: 13rem;

    cursor: pointer;
}

.boxes img {
    width: 100%;
    height: 19.5rem;

    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.boxes span {
    font-size: 1.5rem;
    color: #2a2a2a;
}

#trending {
    background-color: #F4ECFC;
    border-color: #8F75A9;
}

#top-rated {
    background-color: #E6F9FF;
    border-color: #7593A9;
}

#now-pic {
    background-color: #E4FFE6;
    border-color: #75A976;
}

.boxes button {
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  align-self: center;
}

button svg {
  color: currentColor;
  fill: transparent;
}

button.purple svg {
  color: #8F75A9;
}
button.blue svg {
  color: #7593A9;
}
button.green svg {
  color: #75A976;
}

.poster-personalise-page {
  margin-top: 10rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../images/banner-bg.jpg') center/cover no-repeat;
  border-radius: 2rem;
  padding: 2.5rem;
  box-shadow: var(--box-shadow-homepage);
  max-width: 65%;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  height: 20rem;
}

.bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(0.2rem);
  z-index: 0;
  border-radius: inherit;
}

.text-content {
  margin-top: 2rem;
  z-index: 1;
}

.text-content h1 {
  font-size: 3.5rem;
  line-height: 1.6;
  letter-spacing: 0.6rem;
  font-family: 'Caudex', serif;
  color: #ffffff;
}

.highlight-images {
  display: inline-flex;
  vertical-align: middle;
  pointer-events: none;
}

.highlight-images img {
  height: 5rem;
  display: inline-block;
  pointer-events: none;
}

.start-button {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: -2rem 0 5rem 13rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
}

.start-button:hover {
  transition: 0.5s;
  background: #352a50;
  color: #ffffff;
}

.characters {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 120%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}

.characters img {
  height: 120%;
  object-fit: contain;
  border-bottom-right-radius: 2rem;
  pointer-events: none;
}


