body {
    background: #3a3a3a;
    font-family: 'Cantarell', sans-serif;
    color: white;
}

.page-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem;
}

.sidebar {
  position: fixed;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
  background: #505050;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.7rem;
  border-radius: 4rem;
  box-shadow: 0.625rem 1.125rem 1.25rem rgba(0, 0, 0, 0.25);
}

.sidebar-icon {
  width: 3.125rem;
  height: 3.125rem;
}

.sidebar-icon>img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.sidebar-icon>img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.logout {
    margin-top: 4rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 1;
    background: #2b2b2b;
    border-radius: 2rem;
    padding: 3rem;
    padding-top: 0;
    max-width: 70%;
    border: 0.15rem solid #8d8d8d7a;
    box-shadow: 0 0 0 0.4rem rgba(195, 195, 195, 0.05);
}

h1 {
    font-family: 'Caudex', serif;
    font-size: 4rem;
    font-weight: lighter;
    color: #ffffff;
}

.card {
    width: 50%;
    border-radius: 2rem;
    padding: 0 2rem 2rem 2rem;
    border: 0.1rem solid;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0.625rem 1.125rem 1.25rem rgba(0, 0, 0, 0.25);
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.card:nth-child(1) {
    background: #3e4449;
    border-color: #8eccffb9;;
}

.card:nth-child(2) {
    background: #ffe49432;
    border-color: #FFE59E90;
}

.disp-name {
    margin-bottom: 2rem;
    color: #cccccc;
    font-size: 1.5rem;
    text-align: center;
}

.disp-name>span {
    background: linear-gradient(to right, #EB68FF 13%, #8FF7FF 92%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1rem;
}

input {
    width: 93%;
    padding: 1rem;
    border: 0.1rem solid #a0a0a0;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem #93939355;
}

input::placeholder {
    color: #ffffff60;
}

.confirm {
    background: transparent;
    border: 0.1rem solid #ffffff;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1.3em;
    transition: all 0.3s ease;
    margin: auto;
    margin-top: 1rem;
}

.confirm:hover {
    background: linear-gradient(to right, #eb68ff89 13%, #8ff8ff89 92%);
    cursor: pointer;
}

.change-name .card-title {
    color: #63b3ed;
}

.change-password .card-title {
    color: #D1BE8B;
}

.change-name>input {
    background: #3F535E;
    margin-bottom: 1.2rem;
}

.change-name>input:focus {
    border-color: #8eccffb9;
}

.change-password>input {
    background-color: #6B6545;
    margin: 1.3rem auto;
}

.change-password>input:focus {
    border-color: #FFE59E90;
}
